header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: skyblue;
  border: 2px solid lightgreen;
  border-radius: 5px;
}
p {
  border: 2px solid gray;
  padding: 5px;
  font-style: italic;
}
